 @media (max-width: 768px){
        .container-fluid{
         margin-left: 15px;
        }
        .nav-link.active img{

        }
        .navbar-nav{
              margin-top: 20px;
        }
        .card{
              margin-top: 50px; 
              margin-left: 15px;
       }
       html, body {
    
    overflow-x: hidden;
}
      }
@media (min-width: 1024px){
       .container-fluid{
              margin-left: 20px;


       }
       .navbar-nav{
              margin-left: 5px;
       }
       .card{
              margin: 50px;

       }


       }
